name: build

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "**"


jobs:
  build:
    runs-on: macOS-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: "11"

      - name: Build
        run: ./gradlew build --no-daemon --stacktrace